body {
	margin: 0;
    min-width: 800px;
    height: 260px;
    overflow: hidden;
}
p {
    font-family : "Calibri", "Arial", serif;
    font-size : 12px;
}

/* title */
@font-face {  
	font-family: titleFont ;  
	src: url( chrome-extension:/fonts/REDCIRCL.ttf ) format("truetype");
} 
#title {
	font-family: titleFont, verdana, helvetica, sans-serif;
	font-size: 36px;
	color: red;
	padding: 0.3em 0.2em;
	margin: 0;
}

/* app container */
#app {
	border-top: 1px solid #ccc;
}

/* tracker tabs */
#tracker-tabs {
	width: 10em;
	float: left;
}
#tracker-tabs label {
	display: block;
	width: 9em;
	overflow: hidden;
	padding-left: 1em;
}

#report-pane {
	margin-left: 11em;
	padding: 0.5em;
}

#tabs-right {
    position: relative;
    padding-right: 6.5em;
    height: 100%;
}
#tabs-right .ui-tabs-nav {
    position: absolute;
    right: 1em;
    top: 0.5em;
    bottom: 0.25em;
    padding: 0.2em 0.2em 0.2em 0em;
    height: 90%;
}
#tabs-right .ui-tabs-nav li {
    width: 100%;
    border-left: none;
    font-size: 11px;
    border-bottom-width: 1px !important;
    border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    overflow: hidden;
}
#tabs-right .ui-tabs-nav li.ui-tabs-selected {
    left: .25px;
    border-left: 2px solid gray;
}
#tabs-right .ui-tabs-nav li a {
    width: 100%;
}
#tabs-right > div {
    height: 100%;
    width: 400px;
}


.title { 
}

.demographic-table {
    width: 400px;    
    font-size: 14px;
    color: darkgray;
}