/* minimal reset */
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

body {
	margin: 0;
    min-width: 800px;
    height: 400px;
    overflow: hidden;
    font-family : "Calibri", "Arial", serif;
    font-size : 12px;
}

/* title */
@font-face {  
	font-family: titleFont ;  
	src: url( chrome-extension:/fonts/REDCIRCL.ttf ) format("truetype");
} 
#title {
	font-family: titleFont, verdana, helvetica, sans-serif;
	font-size: 36px;
	color: red;
	padding: 0.3em 0.2em;
	margin: 0;
	height: 40px;
}

/* app container */
#app {
	border-top: 1px solid #ccc;
}

/* tracker tabs */
#tracker-tabs {
	float: left;
	border-right: 1px solid #ccc;
	background: #999;
	height: 100%;
	position: absolute;
}
#tracker-tabs label {
	display: block;
	width: 9em;
	overflow: hidden;
	padding: .5em .2em .5em 1em;
	border-top: 0 !important;
	margin-right: -1px;
}
#tracker-tabs label.ui-state-active {
	border-right-color: #fff;
}

/* report pane */
#report-pane {
	margin-left: 12em;
	padding: 1em 2em 1em 0.5em;
	height: 400px;
	overflow: auto;
}
#report-pane h2 {
	margin: 0 0 0 .3em;
}
#report-pane h2 span.moreinfo {
	font-weight: normal;
	font-size: .8em;
	margin-left: .5em;
}
#tracker-image {
	display: none;
	float: right;
}

/* vis tabs */
#view-tabs {
	margin-top: 3em;
}
#view-tabs .ui-tabs-nav {
	border: 0;
	background: transparent;
	padding: 0;
	margin: 0 0 0 .2em;
	position: relative;
	top: -32px;
}
#view-tabs .ui-tabs-panel {
	margin-top: -32px;
	min-height: 300px;
}

/* overview history */
#overview-table th,
#overview-table td {
	font-size: .8em;
	text-align: left;
	padding: .5em 3em .5em 0;
}
#overview-table thead th {
	font-weight: normal;
	font-style: italic;
}
#support-count {
	font-weight: bold;
}